@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your new TodoApp! Click "Todo" in the menu to manage your tasks.</p>
    <hr />
    <img src="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-10.0" alt="ASP.NET Core" style="width:200px;" />
</div>